@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    -webkit-tap-highlight-color: transparent;
    overscroll-behavior-y: none;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}